@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*                                  Link Link button                */
.linkArrow {
  position: relative;
  display: block;
    background: #3c8ce9;
  padding: 1em 2em 1em 1em;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
    border-radius: 11px;}
.linkArrow:after, .linkArrow:before {
  content: "";
  display: block;
  position: absolute;
}
.linkArrow:before {
  top: 50%;
  right: 1em;
  width: 1em;
  height: 1em;
  transform-origin: 50% 50%;
  transform: translate(0, -0.5em) rotate(45deg);
  box-shadow: inset -0.2em 0.2em 0 0 #fafafa;
  border-radius: 0 0.15em 0 0;
}
.linkArrow:after {
  top: 50%;
  right: 1em;
  width: 1.3em;
  height: 0.2em;
  transform: translate(0, -0.1em);
  background-color: #fafafa;
}

a.linkArrow:hover {background: black;}